langgraph
langchain
deepagents
langchain[google-genai]
langchain-mcp-adapters
langgraph-checkpoint-redis
langchain-mistralai
langchain-google-genai
langchain-anthropic
langchain-text-splitters

chromadb

pydantic
pydantic[email]
fastmcp
python-dotenv
httpx
langcache
fastapi
uvicorn[standard]
celery[redis]
redis

sqlalchemy[asyncio] 
asyncpg                  
psycopg2-binary          
alembic

cryptography 

clerk-backend-api
svix

numpy

pypdf
docx